.super-mario {
    width: 200px;
    position: absolute;
    bottom: 200px;
    left: 200px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 80px;
    left: 260px;
  }
  
  .baloon {
    position: absolute;
    bottom: 200px;
    left: 520px;
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    bottom: 80px;
    left: 800px;
  }