div:hover{
    border: 5px solid black;
}
div:nth-of-type(1){
    background: red;
}
div:nth-of-type(2){
    background: blue;
}
div:nth-of-type(3){
    background: grey;
}
div:nth-of-type(4){
    background: yellow;
}
div:nth-of-type(5){
    background: green;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    color: wheat;
}