*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Navbar */
.main-header_container{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background: black;
    align-items: center;
}
.main-header_logo{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid orange;
    background-image: url(images/mantis-shrimp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10%;
}
.main-header_links{
    list-style: none;
    margin: auto 0;
}
.main-header_link{
    display: inline-block;
}
.main-header_link a{
    text-decoration: none;
    color: white;
    margin: 0 8px;
    font-size: 1rem;
    letter-spacing: 0.17rem;
}
.main-header_link a:active{
    font-size: 1.1rem;
}
.main-header_link a:hover{
    color: #A9A9A9;
}
.main-header_title{
    ffont-family: 'Abhaya Libre', serif;
    text-align: center;
}