* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#super-heroes-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#img-div {
  height: 300px;
  width: 225px;
}

#sort-btn {
  background-color: green;
  color: white;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}
